// COLOR
$color-background: #000000;
$color-red-09: #B90709;
$color-gray-a8: #A8A8A8;
$color-yellow-4e: #FFD64E;
$color-gray-f5: #F5F5F5;
$color-gray-f3: #F3F3F3;

// FONT
$default-font-size: 15px;

$scroll-bar-width: 10px;
